<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PETMEMORIAL official site</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <!-- href属性を追加してください -->
      <a class="header-logo" href="/" >DOS</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>ドリンクリスト</h1>
      </div>
      <div class="index-table-wrapper">
        <div class="table-head">
          <span class="id-column">No</span>
          <span class="name-column">Title</span>
          <span class="URL-column">URL</span>
        </div>
        <% const items = [
          {No: 1, name: 'フィノ キンタ', URL: ""},
          {No: 2, name: 'リトルスイート', URL: ""},
          {No: 3, name: 'タイムイズマネー', URL: ""}
        ]; %>
        <ul class="table-body">
          <% items.forEach((item) => { %>
            <li>
              <span class="id-column"><%= item.No %></span>
              <span class="name-column"><%= item.name %></span>
              <span class="URL-column" href="/"><%= item.URL %></span>
            </li>
          <% }); %>
        </ul>
      </div>
    </div>
  </body>
</html>