<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ＤＯＳ スペインバル official site</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">出会い溢れる本場のスペインバル</h2>
        <h1 class="title">DOS</h1>
        <p class="description">
          愛知県名古屋市中村区那古野1-38-11<br>
          さくらHillsリバーサイド EAST１F<br>
          国際センター駅2番出口より徒歩5分<br>
          <br>
        </p>
        <a class="index-button" href="/index" >ドリンク一覧を見る</a>
      </div>
      <div class="top-image">
      <!--<img src="/images/top.png">-->  
      </div>
    </div>
  </body>
</html>